/* Small Devices */
@media screen and (max-width: 600px) {
  .section-heading,
  .destination-heading h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .popular-content-container > p {
    margin-top: 0rem;
  }
  /* Nav */
  nav ul {
    display: none;
  }
  nav button {
    display: block;
  }
  nav > a {
    font-size: 1.5rem;
  }
  /* Banner */
  .banner {
    padding: 20px 10px;
    background-position: center center;
  }
  .booking-form form {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .banner h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .booking-form form input,
  .booking-form form select {
    height: 50px;
    padding: 0.5rem;
  }
  .banner p {
    margin-bottom: 30px;
  }
  /* Tour Section */
  .popular-tour-content-area {
    flex-direction: column;
    gap: 20px;
  }
  .popular-content-container {
    width: 100%;
  }
  .popular-image-container {
    width: 100%;
  }
  /* Destination */
  .destination-area {
    display: grid;
    grid-template-rows: repeat(7, 200px);
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7";
    gap: 16px;
  }
  /* why Chose */
  .why-chose-content h4 {
    font-size: 1rem;
  }

  /* Deal and Discount */
  .deal-discount-content,
  #deal-discount-content2 {
    padding: 1rem;
    flex-direction: column;
    height: 500px;
  }
  #deal-discount-content2 {
    justify-content: end;
  }
  .deal-content {
    width: 100%;
    padding: 10px;
  }
  .deal-content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .deal-content h4 {
    font-size: 1.25rem;
    margin: 16px 0px 8px 0px;
  }
  .deal-content h5 {
    margin: 12px 0px 16px 0px;
  }
  .deal-wrap-discription {
    display: none;
  }
  .deal-content button {
    padding: 8px 20px;
    font-size: 1rem;
  }
  /* Perfect Palace */
  .perfect-place-video-container h6 {
    font-size: 0.8rem;
    line-height: 15px; /* 150% */
  }
  /* Customer Review */
  .customer-review-main {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Newsletter */
  .newsletter-content-area,
  .perfect-place-section-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .newsletter-content-container,
  .newsletter-image-container,
  .perfect-place-content-container,
  .perfect-place-video-container {
    width: 100%;
  }
  .discount {
    padding: 1rem;
  }
  .discount p {
    font-size: 1rem;
  }
  .discount h4 {
    font-size: 1.25rem;
  }
  /* footer  */
  .footer-top a {
    font-size: 1.25rem;
  }
}

/* Medium Devices */
@media screen and (min-width: 600px) and (max-width: 1000px) {
  /* Nav */
  nav ul {
    display: none;
  }
  nav button {
    display: block;
  }
  nav > a {
    font-size: 1.5rem;
  }
  /* Banner */
  .banner {
    padding: 50px 20px;
    background-position: center center;
  }
  .booking-form form {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .banner h3 {
    font-size: 3rem;
    margin-bottom: 15px;
  }
  .booking-form form input,
  .booking-form form select {
    height: 50px;
    padding: 0.5rem;
  }
  .banner p {
    margin-bottom: 30px;
  }
  /* Tour Section */
  .popular-tour-content-area {
    flex-direction: column;
    gap: 20px;
  }
  .popular-content-container {
    width: 100%;
  }
  .popular-image-container {
    width: 100%;
  }
  /* Destination */
  .destination-area {
    display: grid;
    grid-template-rows: repeat(7, 200px);
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7";
    gap: 16px;
  }
  /* Deal and Discount */
  .deal-discount-content,
  #deal-discount-content2 {
    padding: 1rem;
    flex-direction: column;
    height: 500px;
  }
  #deal-discount-content2 {
    justify-content: end;
  }
  .deal-content {
    width: 100%;
    padding: 10px;
  }
  .deal-content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .deal-content h4 {
    font-size: 1.25rem;
    margin: 16px 0px 8px 0px;
  }
  .deal-content h5 {
    margin: 12px 0px 16px 0px;
  }
  .deal-wrap-discription {
    display: none;
  }
  .deal-content button {
    padding: 8px 20px;
    font-size: 1rem;
  }
  /* Customer Review */
  .customer-review-main {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Newsletter */
  .newsletter-content-area,
  .perfect-place-section-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .newsletter-content-container,
  .newsletter-image-container,
  .perfect-place-content-container,
  .perfect-place-video-container {
    width: 100%;
  }
}
